body {
    background-color: #f8f2e9;
    margin:0;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    font-family: BentonSans;
}
g {
    display: block;
    background-color: #d1b38c;
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 100%; 
    z-index: 50;
}
#wrapper {
  padding: 15px;
}
#graph {
  width: 100%;
  height: 100%;
  position: absolute;
}
#container {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 100;
}
#sticky { 
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    z-index: 50;
}
.panel {
    position: relative;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20vh;
    padding-bottom: 20vh;
}
.panel p {
    /*background-color: #f8f2e9;*/
    background-color: #f7ead794; /*d4faff78*/
    border-radius:3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow:0 0 1px 2px #d1b38c;
    font-size: 20px;
}
.panel:after {
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  /*opacity: 0.6;*/
}
.panel:first-child {
    padding-top: 25vh;
}
.panel:last-child {
    padding-bottom: 25vh;
}
.axis line{
  stroke: #404a5b;
}
.axis path{
  stroke: #404a5b;
}
.axis text{
  fill: #404a5b;
} 
.overlay {
  fill: none;
  pointer-events: all;
}
.square {
  height: 800vh;
  width: 100vw;
  background-color: #f8f2e9;
  position: static; 
}

/* Mobile styles */

@media screen and (min-width: 850px) {
  .panel {
    width: 60%;
  }
}

@media screen and (max-width: 850px) {
  .panel {
    width: 80%;
  }
}